* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

.main .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    width: 100%;
    height: 100%;
}

.main .container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('./images/bg-pattern-top-desktop.svg');
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.main .container::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('./images/bg-pattern-bottom-desktop.svg');
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.contain {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.contain .top {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
}

.contain .top .left {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.contain .top .left h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    color: hsl(300, 43%, 22%);
}

.contain .top .left p {
    font-size: 15px;
    color: hsl(303, 10%, 53%);
}

.contain .top .right {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contain .top .right .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contain .top .right .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    background-color: hsl(300, 24%, 96%);
    gap: 20px;
    padding: 15px 20px;
    border-radius: 8px;
}

.contain .top .right .line p {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.contain .top .right .line:nth-child(1) {
    transform: translateX(-50px);
}

.contain .top .right .line:nth-child(3) {
    transform: translateX(50px);
}

.contain .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 150px;
}

.contain .bottom .box {
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    color: hsl(300, 24%, 96%);
}

.contain .bottom .box:nth-child(3) {
    transform: translateY(20px);
}

.contain .bottom .box:nth-child(1) {
    transform: translateY(-20px);
}

.contain .bottom .box .head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.contain .bottom .box .head .pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contain .bottom .box .head .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contain .bottom .box .head .info {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 5px;
}

.contain .bottom .box .head .info span {
    font-size: 15px;
    color: hsl(333, 80%, 67%);
}

.contain p {
    font-size: 13px;
    line-height: 1.6;
}

@media(max-width:992px) {
    .main .container::after {
        width: 500px;
        height: 500px;
    }
    .main .container::before {
        width: 500px;
        height: 500px;
    }
    .contain {
        gap: 30px;
    }
    .contain .top {
        gap: 100px;
        grid-template-columns: repeat(1, 1fr);
        width: 380px;
        text-align: center;
    }
    .contain .top .left {
        justify-content: center;
    }
    .contain .top .left h1 {
        font-size: 45px;
    }
    .contain .top .right {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .contain .top .right .line {
        display: grid;
        justify-content: center;
        width: 380px;
        gap: 10px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .contain .top .right .line p {
        font-weight: 700;
    }
    .contain .top .right .line:nth-child(1) {
        transform: translateX(0px);
    }
    .contain .top .right .line:nth-child(3) {
        transform: translateX(0px);
    }
    .contain .bottom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 50px;
    }
    .contain .bottom .box {
        border-radius: 5px;
        width: 380px;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .contain .bottom .box:nth-child(3) {
        transform: translateY(0px) translateX(-50%);
    }
    .contain .bottom .box:nth-child(1) {
        transform: translateY(0px) translateX(-50%);
    }
}

@media(max-width:768px) {
    .main .container::after {
        width: 400px;
        height: 400px;
    }
    .main .container::before {
        width: 400px;
        height: 400px;
    }
    .contain {
        gap: 20px;
    }
    .contain .top {
        gap: 100px;
        width: 320px;
    }
    .contain .top .left h1 {
        font-size: 40px;
    }
    .contain .top .right .line {
        width: 320px;
    }
    .contain .bottom .box {
        width: 320px;
    }
}